<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenSigner - Electronic Signature Certificate Template</title>
  <style>
    /* #region Color */

    * {
      font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .bg-white {
      background-color: #fff;
    }

    .bg-zinc-900 {
      background-color: #18181b
    }

    .fill-emerald-600 {
      fill: #059669;
    }

    .text-sky-600 {
      color: #0284c7
    }

    .text-zinc-400 {
      color: #a1a1aa
    }

    .text-zinc-500 {
      color: #71717a
    }

    /* #endregion */

    /* #region Flex */
    .flex {
      display: flex;
      width: 100%;
    }

    .flex-col {
      flex-direction: column;
    }

    .flex-1 {
      flex: 1 1 0%;
    }

    .items-center {
      align-items: center;
    }

    .gap-1 {
      gap: 0.25rem
        /* 4px */
      ;
    }

    .gap-2 {
      gap: 0.5rem
        /* 8px */
      ;
    }

    .gap-4 {
      gap: 1rem
        /* 16px */
      ;
    }

    /* #endregion */

    /* #region Padding */
    .p-1 {
      padding: 4px;
    }

    .p-2 {
      padding: 8px;
    }

    .p-3 {
      padding: 12px;
    }

    .p-4 {
      padding: 16px;
    }

    .p-5 {
      padding: 20px;
    }

    .p-6 {
      padding: 24px;
    }

    .p-7 {
      padding: 28px;
    }

    .p-8 {
      padding: 32px;
    }

    .p-9 {
      padding: 36px;
    }

    .p-10 {
      padding: 40px;
    }

    .p-12 {
      padding: 48px;
    }

    .p-14 {
      padding: 56px;
    }

    .p-16 {
      padding: 64px;
    }

    .p-18 {
      padding: 72px;
    }

    .p-20 {
      padding: 80px;
    }

    .p-24 {
      padding: 96px;
    }

    .p-28 {
      padding: 112px;
    }

    .p-32 {
      padding: 128px;
    }

    .p-36 {
      padding: 144px;
    }

    .p-40 {
      padding: 160px;
    }

    .p-44 {
      padding: 176px;
    }

    .p-48 {
      padding: 192px;
    }

    .p-52 {
      padding: 208px;
    }

    .p-56 {
      padding: 224px;
    }

    .p-60 {
      padding: 240px;
    }

    .p-64 {
      padding: 256px;
    }

    .p-68 {
      padding: 272px;
    }

    .p-72 {
      padding: 288px;
    }

    .p-76 {
      padding: 304px;
    }

    .p-80 {
      padding: 320px;
    }

    .p-84 {
      padding: 336px;
    }

    .p-88 {
      padding: 352px;
    }

    .p-92 {
      padding: 368px;
    }

    .p-96 {
      padding: 384px;
    }

    .p-100 {
      padding: 400px;
    }

    .pl-1 {
      padding-left: 4px;
    }

    .pl-2 {
      padding-left: 8px;
    }

    .pl-3 {
      padding-left: 12px;
    }

    .pl-4 {
      padding-left: 16px;
    }

    .pl-5 {
      padding-left: 20px;
    }

    .pl-6 {
      padding-left: 24px;
    }

    .pl-7 {
      padding-left: 28px;
    }

    .pl-8 {
      padding-left: 32px;
    }

    .pl-9 {
      padding-left: 36px;
    }

    .pl-10 {
      padding-left: 40px;
    }

    .pl-12 {
      padding-left: 48px;
    }

    .pl-14 {
      padding-left: 56px;
    }

    .pl-16 {
      padding-left: 64px;
    }

    .pl-18 {
      padding-left: 72px;
    }

    .pl-20 {
      padding-left: 80px;
    }

    .pl-24 {
      padding-left: 96px;
    }

    .pl-28 {
      padding-left: 112px;
    }

    .pl-32 {
      padding-left: 128px;
    }

    .pl-36 {
      padding-left: 144px;
    }

    .pl-40 {
      padding-left: 160px;
    }

    .pl-44 {
      padding-left: 176px;
    }

    .pl-48 {
      padding-left: 192px;
    }

    .pl-52 {
      padding-left: 208px;
    }

    .pl-56 {
      padding-left: 224px;
    }

    .pl-60 {
      padding-left: 240px;
    }

    .pl-64 {
      padding-left: 256px;
    }

    .pl-68 {
      padding-left: 272px;
    }

    .pl-72 {
      padding-left: 288px;
    }

    .pl-76 {
      padding-left: 304px;
    }

    .pl-80 {
      padding-left: 320px;
    }

    .pl-84 {
      padding-left: 336px;
    }

    .pl-88 {
      padding-left: 352px;
    }

    .pl-92 {
      padding-left: 368px;
    }

    .pl-96 {
      padding-left: 384px;
    }

    .pl-100 {
      padding-left: 400px;
    }

    .pr-1 {
      padding-right: 4px;
    }

    .pr-2 {
      padding-right: 8px;
    }

    .pr-3 {
      padding-right: 12px;
    }

    .pr-4 {
      padding-right: 16px;
    }

    .pr-5 {
      padding-right: 20px;
    }

    .pr-6 {
      padding-right: 24px;
    }

    .pr-7 {
      padding-right: 28px;
    }

    .pr-8 {
      padding-right: 32px;
    }

    .pr-9 {
      padding-right: 36px;
    }

    .pr-10 {
      padding-right: 40px;
    }

    .pr-12 {
      padding-right: 48px;
    }

    .pr-14 {
      padding-right: 56px;
    }

    .pr-16 {
      padding-right: 64px;
    }

    .pr-18 {
      padding-right: 72px;
    }

    .pr-20 {
      padding-right: 80px;
    }

    .pr-24 {
      padding-right: 96px;
    }

    .pr-28 {
      padding-right: 112px;
    }

    .pr-32 {
      padding-right: 128px;
    }

    .pr-36 {
      padding-right: 144px;
    }

    .pr-40 {
      padding-right: 160px;
    }

    .pr-44 {
      padding-right: 176px;
    }

    .pr-48 {
      padding-right: 192px;
    }

    .pr-52 {
      padding-right: 208px;
    }

    .pr-56 {
      padding-right: 224px;
    }

    .pr-60 {
      padding-right: 240px;
    }

    .pr-64 {
      padding-right: 256px;
    }

    .pr-68 {
      padding-right: 272px;
    }

    .pr-72 {
      padding-right: 288px;
    }

    .pr-76 {
      padding-right: 304px;
    }

    .pr-80 {
      padding-right: 320px;
    }

    .pr-84 {
      padding-right: 336px;
    }

    .pr-88 {
      padding-right: 352px;
    }

    .pr-92 {
      padding-right: 368px;
    }

    .pr-96 {
      padding-right: 384px;
    }

    .pr-100 {
      padding-right: 400px;
    }

    .pt-1 {
      padding-top: 4px;
    }

    .pt-2 {
      padding-top: 8px;
    }

    .pt-3 {
      padding-top: 12px;
    }

    .pt-4 {
      padding-top: 16px;
    }

    .pt-5 {
      padding-top: 20px;
    }

    .pt-6 {
      padding-top: 24px;
    }

    .pt-7 {
      padding-top: 28px;
    }

    .pt-8 {
      padding-top: 32px;
    }

    .pt-9 {
      padding-top: 36px;
    }

    .pt-10 {
      padding-top: 40px;
    }

    .pt-12 {
      padding-top: 48px;
    }

    .pt-14 {
      padding-top: 56px;
    }

    .pt-16 {
      padding-top: 64px;
    }

    .pt-18 {
      padding-top: 72px;
    }

    .pt-20 {
      padding-top: 80px;
    }

    .pt-24 {
      padding-top: 96px;
    }

    .pt-28 {
      padding-top: 112px;
    }

    .pt-32 {
      padding-top: 128px;
    }

    .pt-36 {
      padding-top: 144px;
    }

    .pt-40 {
      padding-top: 160px;
    }

    .pt-44 {
      padding-top: 176px;
    }

    .pt-48 {
      padding-top: 192px;
    }

    .pt-52 {
      padding-top: 208px;
    }

    .pt-56 {
      padding-top: 224px;
    }

    .pt-60 {
      padding-top: 240px;
    }

    .pt-64 {
      padding-top: 256px;
    }

    .pt-68 {
      padding-top: 272px;
    }

    .pt-72 {
      padding-top: 288px;
    }

    .pt-76 {
      padding-top: 304px;
    }

    .pt-80 {
      padding-top: 320px;
    }

    .pt-84 {
      padding-top: 336px;
    }

    .pt-88 {
      padding-top: 352px;
    }

    .pt-92 {
      padding-top: 368px;
    }

    .pt-96 {
      padding-top: 384px;
    }

    .pt-100 {
      padding-top: 400px;
    }

    .pb-1 {
      padding-bottom: 4px;
    }

    .pb-2 {
      padding-bottom: 8px;
    }

    .pb-3 {
      padding-bottom: 12px;
    }

    .pb-4 {
      padding-bottom: 16px;
    }

    .pb-5 {
      padding-bottom: 20px;
    }

    .pb-6 {
      padding-bottom: 24px;
    }

    .pb-7 {
      padding-bottom: 28px;
    }

    .pb-8 {
      padding-bottom: 32px;
    }

    .pb-9 {
      padding-bottom: 36px;
    }

    .pb-10 {
      padding-bottom: 40px;
    }

    .pb-12 {
      padding-bottom: 48px;
    }

    .pb-14 {
      padding-bottom: 56px;
    }

    .pb-16 {
      padding-bottom: 64px;
    }

    .pb-18 {
      padding-bottom: 72px;
    }

    .pb-20 {
      padding-bottom: 80px;
    }

    .pb-24 {
      padding-bottom: 96px;
    }

    .pb-28 {
      padding-bottom: 112px;
    }

    .pb-32 {
      padding-bottom: 128px;
    }

    .pb-36 {
      padding-bottom: 144px;
    }

    .pb-40 {
      padding-bottom: 160px;
    }

    .pb-44 {
      padding-bottom: 176px;
    }

    .pb-48 {
      padding-bottom: 192px;
    }

    .pb-52 {
      padding-bottom: 208px;
    }

    .pb-56 {
      padding-bottom: 224px;
    }

    .pb-60 {
      padding-bottom: 240px;
    }

    .pb-64 {
      padding-bottom: 256px;
    }

    .pb-68 {
      padding-bottom: 272px;
    }

    .pb-72 {
      padding-bottom: 288px;
    }

    .pb-76 {
      padding-bottom: 304px;
    }

    .pb-80 {
      padding-bottom: 320px;
    }

    .pb-84 {
      padding-bottom: 336px;
    }

    .pb-88 {
      padding-bottom: 352px;
    }

    .pb-92 {
      padding-bottom: 368px;
    }

    .pb-96 {
      padding-bottom: 384px;
    }

    .pb-100 {
      padding-bottom: 400px;
    }

    /* #endregion */

    /* #region Border */
    .border {
      border: 4px solid #e5e7eb;
    }

    .border-1 {
      border: 4px solid #e5e7eb;
    }

    .border-2 {
      border: 8px solid #e5e7eb;
    }

    .border-3 {
      border: 12px solid #e5e7eb;
    }

    .border-4 {
      border: 16px solid #e5e7eb;
    }

    .border-5 {
      border: 20px solid #e5e7eb;
    }

    .border-6 {
      border: 24px solid #e5e7eb;
    }

    .border-7 {
      border: 28px solid #e5e7eb;
    }

    .border-8 {
      border: 32px solid #e5e7eb;
    }

    .border-9 {
      border: 36px solid #e5e7eb;
    }

    .border-10 {
      border: 40px solid #e5e7eb;
    }

    .border-12 {
      border: 48px solid #e5e7eb;
    }

    .border-14 {
      border: 56px solid #e5e7eb;
    }

    .border-16 {
      border: 64px solid #e5e7eb;
    }

    .border-18 {
      border: 72px solid #e5e7eb;
    }

    .border-20 {
      border: 80px solid #e5e7eb;
    }

    .border-24 {
      border: 96px solid #e5e7eb;
    }

    .border-28 {
      border: 112px solid #e5e7eb;
    }

    .border-32 {
      border: 128px solid #e5e7eb;
    }

    .border-36 {
      border: 144px solid #e5e7eb;
    }

    .border-40 {
      border: 160px solid #e5e7eb;
    }

    .border-44 {
      border: 176px solid #e5e7eb;
    }

    .border-48 {
      border: 192px solid #e5e7eb;
    }

    .border-52 {
      border: 208px solid #e5e7eb;
    }

    .border-56 {
      border: 224px solid #e5e7eb;
    }

    .border-60 {
      border: 240px solid #e5e7eb;
    }

    .border-64 {
      border: 256px solid #e5e7eb;
    }

    .border-68 {
      border: 272px solid #e5e7eb;
    }

    .border-72 {
      border: 288px solid #e5e7eb;
    }

    .border-76 {
      border: 304px solid #e5e7eb;
    }

    .border-80 {
      border: 320px solid #e5e7eb;
    }

    .border-84 {
      border: 336px solid #e5e7eb;
    }

    .border-88 {
      border: 352px solid #e5e7eb;
    }

    .border-92 {
      border: 368px solid #e5e7eb;
    }

    .border-96 {
      border: 384px solid #e5e7eb;
    }

    .border-100 {
      border: 400px solid #e5e7eb;
    }

    .border-b {
      border-bottom: 1px solid #e5e7eb;
    }

    .border-b-1 {
      border-bottom: 4px solid #e5e7eb;
    }

    .border-b-2 {
      border-bottom: 8px solid #e5e7eb;
    }

    .border-b-3 {
      border-bottom: 12px solid #e5e7eb;
    }

    .border-b-4 {
      border-bottom: 16px solid #e5e7eb;
    }

    .border-b-5 {
      border-bottom: 20px solid #e5e7eb;
    }

    .border-b-6 {
      border-bottom: 24px solid #e5e7eb;
    }

    .border-b-7 {
      border-bottom: 28px solid #e5e7eb;
    }

    .border-b-8 {
      border-bottom: 32px solid #e5e7eb;
    }

    .border-b-9 {
      border-bottom: 36px solid #e5e7eb;
    }

    .border-b-10 {
      border-bottom: 40px solid #e5e7eb;
    }

    .border-b-12 {
      border-bottom: 48px solid #e5e7eb;
    }

    .border-b-14 {
      border-bottom: 56px solid #e5e7eb;
    }

    .border-b-16 {
      border-bottom: 64px solid #e5e7eb;
    }

    .border-b-18 {
      border-bottom: 72px solid #e5e7eb;
    }

    .border-b-20 {
      border-bottom: 80px solid #e5e7eb;
    }

    .border-b-24 {
      border-bottom: 96px solid #e5e7eb;
    }

    .border-b-28 {
      border-bottom: 112px solid #e5e7eb;
    }

    .border-b-32 {
      border-bottom: 128px solid #e5e7eb;
    }

    .border-b-36 {
      border-bottom: 144px solid #e5e7eb;
    }

    .border-b-40 {
      border-bottom: 160px solid #e5e7eb;
    }

    .border-b-44 {
      border-bottom: 176px solid #e5e7eb;
    }

    .border-b-48 {
      border-bottom: 192px solid #e5e7eb;
    }

    .border-b-52 {
      border-bottom: 208px solid #e5e7eb;
    }

    .border-b-56 {
      border-bottom: 224px solid #e5e7eb;
    }

    .border-b-60 {
      border-bottom: 240px solid #e5e7eb;
    }

    .border-b-64 {
      border-bottom: 256px solid #e5e7eb;
    }

    .border-b-68 {
      border-bottom: 272px solid #e5e7eb;
    }

    .border-b-72 {
      border-bottom: 288px solid #e5e7eb;
    }

    .border-b-76 {
      border-bottom: 304px solid #e5e7eb;
    }

    .border-b-80 {
      border-bottom: 320px solid #e5e7eb;
    }

    .border-b-84 {
      border-bottom: 336px solid #e5e7eb;
    }

    .border-b-88 {
      border-bottom: 352px solid #e5e7eb;
    }

    .border-b-92 {
      border-bottom: 368px solid #e5e7eb;
    }

    .border-b-96 {
      border-bottom: 384px solid #e5e7eb;
    }

    .border-b-100 {
      border-bottom: 400px solid #e5e7eb;
    }

    .border-t {
      border-top: 1px solid #e5e7eb;
    }

    .border-t-1 {
      border-top: 4px solid #e5e7eb;
    }

    .border-t-2 {
      border-top: 8px solid #e5e7eb;
    }

    .border-t-3 {
      border-top: 12px solid #e5e7eb;
    }

    .border-t-4 {
      border-top: 16px solid #e5e7eb;
    }

    .border-t-5 {
      border-top: 20px solid #e5e7eb;
    }

    .border-t-6 {
      border-top: 24px solid #e5e7eb;
    }

    .border-t-7 {
      border-top: 28px solid #e5e7eb;
    }

    .border-t-8 {
      border-top: 32px solid #e5e7eb;
    }

    .border-t-9 {
      border-top: 36px solid #e5e7eb;
    }

    .border-t-10 {
      border-top: 40px solid #e5e7eb;
    }

    .border-t-12 {
      border-top: 48px solid #e5e7eb;
    }

    .border-t-14 {
      border-top: 56px solid #e5e7eb;
    }

    .border-t-16 {
      border-top: 64px solid #e5e7eb;
    }

    .border-t-18 {
      border-top: 72px solid #e5e7eb;
    }

    .border-t-20 {
      border-top: 80px solid #e5e7eb;
    }

    .border-t-24 {
      border-top: 96px solid #e5e7eb;
    }

    .border-t-28 {
      border-top: 112px solid #e5e7eb;
    }

    .border-t-32 {
      border-top: 128px solid #e5e7eb;
    }

    .border-t-36 {
      border-top: 144px solid #e5e7eb;
    }

    .border-t-40 {
      border-top: 160px solid #e5e7eb;
    }

    .border-t-44 {
      border-top: 176px solid #e5e7eb;
    }

    .border-t-48 {
      border-top: 192px solid #e5e7eb;
    }

    .border-t-52 {
      border-top: 208px solid #e5e7eb;
    }

    .border-t-56 {
      border-top: 224px solid #e5e7eb;
    }

    .border-t-60 {
      border-top: 240px solid #e5e7eb;
    }

    .border-t-64 {
      border-top: 256px solid #e5e7eb;
    }

    .border-t-68 {
      border-top: 272px solid #e5e7eb;
    }

    .border-t-72 {
      border-top: 288px solid #e5e7eb;
    }

    .border-t-76 {
      border-top: 304px solid #e5e7eb;
    }

    .border-t-80 {
      border-top: 320px solid #e5e7eb;
    }

    .border-t-84 {
      border-top: 336px solid #e5e7eb;
    }

    .border-t-88 {
      border-top: 352px solid #e5e7eb;
    }

    .border-t-92 {
      border-top: 368px solid #e5e7eb;
    }

    .border-t-96 {
      border-top: 384px solid #e5e7eb;
    }

    .border-t-100 {
      border-top: 400px solid #e5e7eb;
    }

    .border-r {
      border-right: 1px solid #e5e7eb;
    }

    .border-r-1 {
      border-right: 4px solid #e5e7eb;
    }

    .border-r-2 {
      border-right: 8px solid #e5e7eb;
    }

    .border-r-3 {
      border-right: 12px solid #e5e7eb;
    }

    .border-r-4 {
      border-right: 16px solid #e5e7eb;
    }

    .border-r-5 {
      border-right: 20px solid #e5e7eb;
    }

    .border-r-6 {
      border-right: 24px solid #e5e7eb;
    }

    .border-r-7 {
      border-right: 28px solid #e5e7eb;
    }

    .border-r-8 {
      border-right: 32px solid #e5e7eb;
    }

    .border-r-9 {
      border-right: 36px solid #e5e7eb;
    }

    .border-r-10 {
      border-right: 40px solid #e5e7eb;
    }

    .border-r-12 {
      border-right: 48px solid #e5e7eb;
    }

    .border-r-14 {
      border-right: 56px solid #e5e7eb;
    }

    .border-r-16 {
      border-right: 64px solid #e5e7eb;
    }

    .border-r-18 {
      border-right: 72px solid #e5e7eb;
    }

    .border-r-20 {
      border-right: 80px solid #e5e7eb;
    }

    .border-r-24 {
      border-right: 96px solid #e5e7eb;
    }

    .border-r-28 {
      border-right: 112px solid #e5e7eb;
    }

    .border-r-32 {
      border-right: 128px solid #e5e7eb;
    }

    .border-r-36 {
      border-right: 144px solid #e5e7eb;
    }

    .border-r-40 {
      border-right: 160px solid #e5e7eb;
    }

    .border-r-44 {
      border-right: 176px solid #e5e7eb;
    }

    .border-r-48 {
      border-right: 192px solid #e5e7eb;
    }

    .border-r-52 {
      border-right: 208px solid #e5e7eb;
    }

    .border-r-56 {
      border-right: 224px solid #e5e7eb;
    }

    .border-r-60 {
      border-right: 240px solid #e5e7eb;
    }

    .border-r-64 {
      border-right: 256px solid #e5e7eb;
    }

    .border-r-68 {
      border-right: 272px solid #e5e7eb;
    }

    .border-r-72 {
      border-right: 288px solid #e5e7eb;
    }

    .border-r-76 {
      border-right: 304px solid #e5e7eb;
    }

    .border-r-80 {
      border-right: 320px solid #e5e7eb;
    }

    .border-r-84 {
      border-right: 336px solid #e5e7eb;
    }

    .border-r-88 {
      border-right: 352px solid #e5e7eb;
    }

    .border-r-92 {
      border-right: 368px solid #e5e7eb;
    }

    .border-r-96 {
      border-right: 384px solid #e5e7eb;
    }

    .border-r-100 {
      border-right: 400px solid #e5e7eb;
    }

    .border-l {
      border-left: 1px solid #e5e7eb;
    }

    .border-l-1 {
      border-left: 4px solid #e5e7eb;
    }

    .border-l-2 {
      border-left: 8px solid #e5e7eb;
    }

    .border-l-3 {
      border-left: 12px solid #e5e7eb;
    }

    .border-l-4 {
      border-left: 16px solid #e5e7eb;
    }

    .border-l-5 {
      border-left: 20px solid #e5e7eb;
    }

    .border-l-6 {
      border-left: 24px solid #e5e7eb;
    }

    .border-l-7 {
      border-left: 28px solid #e5e7eb;
    }

    .border-l-8 {
      border-left: 32px solid #e5e7eb;
    }

    .border-l-9 {
      border-left: 36px solid #e5e7eb;
    }

    .border-l-10 {
      border-left: 40px solid #e5e7eb;
    }

    .border-l-12 {
      border-left: 48px solid #e5e7eb;
    }

    .border-l-14 {
      border-left: 56px solid #e5e7eb;
    }

    .border-l-16 {
      border-left: 64px solid #e5e7eb;
    }

    .border-l-18 {
      border-left: 72px solid #e5e7eb;
    }

    .border-l-20 {
      border-left: 80px solid #e5e7eb;
    }

    .border-l-24 {
      border-left: 96px solid #e5e7eb;
    }

    .border-l-28 {
      border-left: 112px solid #e5e7eb;
    }

    .border-l-32 {
      border-left: 128px solid #e5e7eb;
    }

    .border-l-36 {
      border-left: 144px solid #e5e7eb;
    }

    .border-l-40 {
      border-left: 160px solid #e5e7eb;
    }

    .border-l-44 {
      border-left: 176px solid #e5e7eb;
    }

    .border-l-48 {
      border-left: 192px solid #e5e7eb;
    }

    .border-l-52 {
      border-left: 208px solid #e5e7eb;
    }

    .border-l-56 {
      border-left: 224px solid #e5e7eb;
    }

    .border-l-60 {
      border-left: 240px solid #e5e7eb;
    }

    .border-l-64 {
      border-left: 256px solid #e5e7eb;
    }

    .border-l-68 {
      border-left: 272px solid #e5e7eb;
    }

    .border-l-72 {
      border-left: 288px solid #e5e7eb;
    }

    .border-l-76 {
      border-left: 304px solid #e5e7eb;
    }

    .border-l-80 {
      border-left: 320px solid #e5e7eb;
    }

    .border-l-84 {
      border-left: 336px solid #e5e7eb;
    }

    .border-l-88 {
      border-left: 352px solid #e5e7eb;
    }

    .border-l-92 {
      border-left: 368px solid #e5e7eb;
    }

    .border-l-96 {
      border-left: 384px solid #e5e7eb;
    }

    .border-l-100 {
      border-left: 400px solid #e5e7eb;
    }

    /* #endregion */

    /* #region font styles */
    .font-bold {
      font-weight: 700;
    }

    .text-justify {
      text-align: justify;
    }

    .text-2xl {
      font-size: 1.5rem
        /* 24px */
      ;
      line-height: 2rem
        /* 32px */
      ;
    }

    .text-3xl {
      font-size: 1.875rem
        /* 30px */
      ;
      line-height: 2.25rem
        /* 36px */
      ;
    }

    .text-sm {
      font-size: 0.875rem
        /* 14px */
      ;
      line-height: 1.25rem
        /* 20px */
      ;
    }

    .text-xl {
      font-size: 1.25rem
        /* 20px */
      ;
      line-height: 1.75rem
        /* 28px */
      ;
    }

    .text-xs {
      font-size: 0.75rem
        /* 12px */
      ;
      line-height: 1rem
        /* 16px */
      ;
    }

    /* #endregion */

    /* #region NMargin */
    .m-auto {
      margin: auto;
    }

    /* #endregion */
  </style>
</head>

<body class="p-24">
  <div class="m-auto flex flex-col">
    <div class="p-4 flex border-b">
      <div class="text-3xl font-bold">
        Certificado de Assinatura Eletrônica
      </div>
    </div>
    <div class="flex flex-col gap-4 p-4 border-b">
      <div class="flex gap-2">
        <table>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80" height="80" viewBox="0 0 30 30">
              <path
                d="M24.707,8.793l-6.5-6.5C18.019,2.105,17.765,2,17.5,2H7C5.895,2,5,2.895,5,4v22c0,1.105,0.895,2,2,2h16c1.105,0,2-0.895,2-2 V9.5C25,9.235,24.895,8.981,24.707,8.793z M18,21h-8c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1h8c0.552,0,1,0.448,1,1 C19,20.552,18.552,21,18,21z M20,17H10c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1h10c0.552,0,1,0.448,1,1C21,16.552,20.552,17,20,17 z M18,10c-0.552,0-1-0.448-1-1V3.904L23.096,10H18z">
              </path>
            </svg>
          </td>
          <td>
            <span class="text-xl font-bold">
              <%= document_name %>
            </span>
            (YOUR-TEMPLATE)
            <div class="flex gap-1 text-xs">
              <div class="flex flex-col text-zinc-400 font-bold">
                <div class="flex gap-1">
                  <span class="">Algoritimo hash: </span>
                  <span class="text-zinc-500">
                    <%= dtype %>
                  </span>
                </div>
                <div class="flex gap-1">
                  <span class="">Hash do documento: </span>
                  <span class="text-zinc-500">
                    <%= digest %>
                  </span>
                </div>
                <div class="flex gap-1">
                  <span class="">Data do documento: </span>
                  <span class="text-zinc-500">
                    <%= datetime %>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </table>
      </div>
    </div>
    <div class="flex flex-col gap-4 p-4 border-b">
      <table>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" height="80" viewBox="0 -960 960 960" width="80">
            <path
              d="M160-80q-33 0-56.5-23.5T80-160v-440q0-33 23.5-56.5T160-680h200v-120q0-33 23.5-56.5T440-880h80q33 0 56.5 23.5T600-800v120h200q33 0 56.5 23.5T880-600v440q0 33-23.5 56.5T800-80H160Zm0-80h640v-440H600q0 33-23.5 56.5T520-520h-80q-33 0-56.5-23.5T360-600H160v440Zm80-80h240v-18q0-17-9.5-31.5T444-312q-20-9-40.5-13.5T360-330q-23 0-43.5 4.5T276-312q-17 8-26.5 22.5T240-258v18Zm320-60h160v-60H560v60Zm-200-60q25 0 42.5-17.5T420-420q0-25-17.5-42.5T360-480q-25 0-42.5 17.5T300-420q0 25 17.5 42.5T360-360Zm200-60h160v-60H560v60ZM440-600h80v-200h-80v200Zm40 220Z" />
          </svg>
        </td>
        <td>
          <div class="flex flex-col text-sm flex-1" style="width: 600px">
            <div class="flex gap-2">
              <span class="font-bold text-xl">
                <%= customData.user_name %>
              </span>
            </div>
            <div class="flex gap-1 text-xs">
              <div class="flex flex-col text-zinc-400 font-bold">
                <div class="flex gap-1">
                  <span class="">E-mail:</span>
                  <span class="text-zinc-500">
                    <%= customData.user_address %>
                  </span>
                </div>
                <div class="flex gap-1">
                  <span class="">CPF:</span>
                  <span class="text-zinc-500">
                    <%= customData.cpf %>
                  </span>
                </div>
                <div class="flex gap-1">
                  <span class="">Tel/Cel:</span>
                  <span class="text-zinc-500">
                    <%= customData.celular %>
                  </span>
                </div>
                <div class="flex gap-1">
                  <span class="">Endereço de IP:</span>
                  <span class="text-zinc-500">
                    <%= ip_address %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </table>
    </div>

    <div class="p-4 border-b">
      <div class="flex flex-col gap-2">
        <div class="flex gap-2 items-center fill-emerald-600">
          <table>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" height="46" viewBox="0 -960 960 960" width="46">
                <path
                  d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z" />
              </svg>
            </td>
            <td>
              <h2 class="text-2xl font-bold">Assinatura</h2>
            </td>
          </table>
          <div class="text-justify" style="line-height: 0px">
            <span class="text-xs text-zinc-100">
              Em <%= datetime %>, <%= customData.user_name %> acessou de forma livre e exponânea o site/serviço
                  <%= customData.platform %>, e manifestou de maneira certa e objetiva que
                    'concorda' com os dizeres especificados documento <%= document_name %>
                      que acima foi identificado. Sendo que o termo 'concorda' usando
                      tanto no certificado de assinatura eletrônica quanto no
                      documento <%= document_name %>, também deve ser interpretado como
                        Aceita ou Aprova. No momento da assinatura: (A) foi dada a
                        oportunidade de recusa ou não concordância com os dizeres do
                        documento <%= document_name %>; (B) Foi permitido efetuar cópias
                          digitais do documento <%= document_name %>, para sua própria guarda; e
                            (C) foi apresentada uma cópia digital deste certificado para
                            guarda pessoal e conferência.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 border-b">
      <div class="flex">
        <div class="flex flex-col">
          <div>
            <b>Documento assinado com validade jurídica.</b>
          </div>
          <div class="text-xs text-zinc-400 text-justify">
            <span>
              A assinatura eletrônica, respaldada pela legislação brasileira,
              possui validade jurídica, conferindo autenticidade e integridade
              aos documentos digitais. Quando um documento é assinado
              digitalmente pelo ICPBRASIL (Infraestrutura de Chaves Públicas
              Brasileira), essa certificação confere uma camada adicional de
              confiança, garantindo que a assinatura seja reconhecida como
              segura e legítima. A verificação da autenticidade pode ser
              realizada de forma transparente e acessível no site
              <a href="https://validar.iti.gov.br/" class="text-sky-600">https://validar.iti.gov.br/</a>, que é uma
              solução eficaz para validação e segurança em
              transações eletrônicas.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex p-4">
      <div class="flex-1"></div>
      <div class="text-xs">&copy; Open Signer</div>
      <div class="flex-1"></div>
    </div>
  </div>
</body>

</html>