* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


body {
    padding: 4%;
}

span {
    font-weight: bold;
}

h2 {
    padding-left: 1%;
    font-size: 2rem;
}

/* Header Styles */
.header-container {
    margin-bottom: 1.5%;
}

.header-logo {
    font-size: 2.3rem;
}


.header-text {
    margin-top: -40px;
    margin-left: 50%;
    padding-left: 1%;
    text-align: end;
    font-size: .8rem;
    font-weight: 300;
    color: #a3a3a3;
}


/* Documents Styles */

.document-container {
    padding: 7% 0;
}

.document-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.document-text {
    padding-left: 1%;
    margin: 2px 0;
}

/* Subscriptions Styles */

.subscription-container {
    padding: 5% 0;
}

.subscription-title {
    margin-top: -10px;
    margin-bottom: 5%;

}

.subs-text-name {
    text-transform: uppercase;
    font-weight: bold;

}

.subscription-texts-container {
    padding: 3% 1%;
}


/* Log Styles */

.log-container {
    padding: 2% 0;
}

.log-title {
    padding: 3% 1%;
}

.log-all {
    padding-left: 1%;
    padding-right: 4%;
    margin-bottom: 5%;
}

.text-1 {
    font-weight: bold;
}

.text-2 {

    margin: -22px;
    margin-left: 20%;
    text-align: justify;
}