<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenSigner - Electronic Signature Certificate Template</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      body {
        padding: 32px 24px;
      }

      span {
        font-weight: bold;
      }

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: 0.75rem;
        word-wrap: break-word;
      }

      section {
        padding: 16px 0;
      }

      /* Header Styles */
      .header-container {
        margin-bottom: 1.5%;
      }

      .header-text {
        margin-top: 10px;
        text-align: end;
        font-size: 0.8rem;
        font-weight: 300;
        color: #a3a3a3;
      }

      /* Sections Styles */

      .section-title {
        margin-bottom: 8px;
      }

      .section-title-alt {
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      .section-text {
        text-align: justify;
        margin-left: 8px;
      }

      .section-text-alt {
        text-transform: uppercase;
        font-weight: bold;
      }

      .section-content-container {
        margin-left: 8px;
      }
    </style>
  </head>

  <body>
    <!--  Header   -->
    <header class="header-container">
      <h1>OpenSigner - Electronic Signature Certificate Template</h1>
      <p class="header-text"><%= user %></p>
    </header>
    <hr />

    <!-- subscription document -->
    <section>
      <h2 class="section-title-alt">Detalhes do Documento</h2>
      <div class="section-content-container">
        <p><strong>Nome do documento: </strong><%= document_name %></p>
        <p><strong>Hash: </strong><%= digest %></p>
      </div>
    </section>
    <hr />

    <!--  subscription information  -->
    <section>
      <h2 class="section-title">Assinaturas</h2>
      <div class="section-content-container">
        <p class="section-text-alt"><%= user %></p>
        <p><strong>IP Address: </strong><%= ip_address %></p>
        <p><strong>Assinou o referido documento em </strong><%= datetime %></p>
      </div>
    </section>
    <hr />

    <section>
      <h2 class="section-title">Log</h2>
      <span><p><%= date %></p></span>
      <div class="section-content-container">
        <span><p>Cookies</p></span>
        <p class="section-text">
          <%= JSON.stringify(evidences.sessionData.cookies) %>
        </p>
      </div>
      <div class="section-content-container">
        <span><p>Local Storage</p></span>
        <p class="section-text">
          <%= JSON.stringify(evidences.sessionData.localStorage) %>
        </p>
      </div>
      <div class="section-content-container">
        <span><p>Session Data</p></span>
        <p class="section-text"><%= evidences.sessionData.document %></p>
      </div>
      <div class="section-content-container">
        <span><p>Mouse Positions</p></span>
        <p class="section-text">
          <%= JSON.stringify(evidences.extractedData.mousePositions) %>
        </p>
      </div>
    </section>
    <hr />

    <section>
      <p>
        Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e
        composição tipográfica.
      </p>
      <p>
        Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e
        composição tipográfica.
      </p>
      <p>
        Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e
        composição tipográfica.
      </p>
    </section>
  </body>
</html>
