<!-- do not delete, used in testing (see test/signer.service.spec.ts)-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenSigner - Electronic Signature Certificate Template</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }


        body {
            padding: 4%;
        }

        span {
            font-weight: bold;
        }

        h2 {
            padding-left: 1%;
            font-size: 2rem;
        }

        /* Header Styles */
        .header-container {
            margin-bottom: 1.5%;
        }

        .header-logo {
            font-size: 1.5rem;
        }


        .header-text {
            margin-top: 10px;
            margin-left: 50%;
            padding-left: 1%;
            text-align: end;
            font-size: .8rem;
            font-weight: 300;
            color: #a3a3a3;
        }


        /* Documents Styles */

        .document-container {
            padding: 7% 0;
        }

        .document-title {
            text-transform: uppercase;
            font-size: 1.2rem;
            margin-bottom: 5px;
        }

        .document-text {
            padding-left: 1%;
            margin: 2px 0;
        }

        /* Subscriptions Styles */

        .subscription-container {
            padding: 5% 0;
        }

        .subscription-title {
            margin-top: -10px;
            margin-bottom: 5%;

        }

        .subs-text-name {
            text-transform: uppercase;
            font-weight: bold;

        }

        .subscription-texts-container {
            padding: 3% 1%;
        }


        /* Log Styles */

        .log-container {
            padding: 2% 0;
        }

        .log-title {
            padding: 3% 1%;
        }

        .log-all {
            padding-left: 1%;
            padding-right: 4%;
            margin-bottom: 5%;
        }

        .text-1 {
            font-weight: bold;
        }

        .text-2 {
            text-align: justify;
        }
    </style>
</head>

<body>


    <!--  Header   -->
    <header class="header-container">
        <h2 class="header-logo">
            OpenSigner - Electronic Signature Certificate Template
        </h2>
        <p class="header-text"><%= user %>
        </p>
    </header>
    <hr>


    <!-- subscription document -->
    <section class="document-container">
        <h2 class="document-title">Detalhes do Documento</h2>
        <p class="document-text"><strong>Nome do documento:</strong>
            <%= document_name %>
        </p>
        <p class="document-text"><strong>Hash:</strong>: 
            <%= digest %>
        </p>
    </section>
    <hr>


    <!--  subscription information  -->
    <section class="subscription-container">
        <h2 class="subscription-title">Assinaturas</h2>
        <div class="subscription-texts-container">
            <p class="subs-text-name">
                <%= user %>
            </p>
            <p class="subs-text-cpf">IP Address: <%= ip_address %>
            </p>
            <p class="subs-text-singdate"><strong>Assinou o referido documento</strong> em <%= datetime %>
            </p>
        </div>
    </section>
    <hr>

    <section class="log-container">
        <%= evidences %>
    </section>

  <section class="log-container">
    <h2 class="log-title">Log</h2>
    <div class="log-all">
      <p class="text-1"><%= date %></p>
      <p class="text-2"><%= JSON.stringify(evidences.sessionData.cookies) %></p>
    </div>
    <div class="log-all">
    <p class="text-1">
        <%= date %>
    </p>
      <p class="text-2"><%= JSON.stringify(evidences.sessionData.localStorage) %></p>
    </div>
    <div class="log-all">
    <p class="text-1">
        <%= date %>
    </p>
      <p class="text-2"><%= evidences.sessionData.document %></p>
    </div>
    <div class="log-all">
    <p class="text-1">
        <%= date %>
    </p>
      <p class="text-2"><%= JSON.stringify(evidences.extractedData.mousePositions) %></p>
    </div>
  </section>
  <hr>

  <section class="validate-container">
    <div class="validade-text">
      <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica.</p>
      <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica.</p>
      <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica.</p>
    </div>
    <p class="validade-text-paragrafo"></p>

  </section>

</body>

</html>